  @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
*{
    box-sizing: border-box;
}
:root{
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
    font-size: 15px;
}
body{
    font-family: 'Lexend Deca', sans-serif;
    margin: 0;
}
main{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0);
    width: 90%;
    margin-top: 40px;
    margin-bottom: 40px;
}
.cards{
    padding: 3em;
    color: var(--transparent-white);
}
.cards h1{
    color: var(--very-light-gray);
    font-family: 'Big Shoulders Display', cursive;
}
.sedan{
    border-radius: 10px 10px 0 0;
    background-color: var(--bright-orange);
}
.suv{
    background-color: var(--dark-cyan);
}
.luxury{
    background-color: var(--very-dark-cyan);
    border-radius: 0 0 10px 10px;
}
button{
    width: 130px;
    height: 40px;
    border-radius: 500000px;
    border: none;
    margin-top: 1em;
    transition: background-color 500ms;
    cursor: pointer;
    font-family: 'Lexend Deca', sans-serif;
}
.sedan button{
    color: var(--bright-orange);
}
.suv button{
    color: var(--dark-cyan);
}
.luxury button{
    color: var(--very-dark-cyan);
}
button:hover{
    border:2px solid var(--very-light-gray);
    background-color: transparent;
    color: var(--very-light-gray);
}
.attribution{
    width: 100%;
    text-align: center;
}
.attribution a{
    color: transparent;
    background: linear-gradient(to right, red,orange,blue,green);
    -webkit-background-clip: text;

}
@media (min-width:600px){
    main{
        display: flex;
        height: 460px;
    }
    .cards{
        position: relative;
        padding: 3.5em;
    }
    .cards h1{
        margin-bottom: 1em;
        font-size: 2em;
    }
    .sedan{
        border-radius: 10px 0 0 10px;
    }
    .luxury{
        border-radius: 0 10px 10px 0;
    }
    button{
        @media (min-width:950px){
            margin-top:5em;
        }
        @media (min-width:1200px){
            margin-top:7em;
        }
    }   
}
